<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/advertisement.css">
    <link rel="stylesheet" href="css/container.css">

    <title>Trang chủ</title>
</head>

<body>
    <div id="main">

        <div id="header">
            <div class="header-nav">
                <div class="header-nav-sub1">

                    <div class="nav-sub1-left">
                        <ul class="sub1-left-element">
                            <li><img src="icons/quanhecodong.svg" alt=""><a href="">Quan hệ cổ đông (IR) </a> </li>
                            <li><img src="icons/cuahang.svg" alt=""> <a href="">Cửa hàng</a> </li>
                            <li> <img src="icons/tainghe.svg" alt=""> <a href=""><span>1800 54 54 57</span> </a> </li>
                        </ul>
                    </div>

                    <div class="nav-sub1-center">
                        <div class="sub1-center-logo">
                            <img src="img/Phát Lộc.png" alt="" height="70px">
                        </div>
                    </div>

                    <div class="nav-sub1-right">
                        <ul class="sub1-right-element">
                            <li> <img src="icons/taikhoan.svg" alt="" height="19px"> <a href="">Tài khoản của tôi</a>
                            </li>
                            <li> <img src="icons/giohang.svg" alt=""><a href="">Giỏ hàng</a> </li>
                        </ul>
                    </div>
                </div>

                <hr />

                <div class="header-nav-sub2">
                    <ul class="sub2-element">
                        <li><a href="">Trang sức </a></li>
                        <li><a href="">Trang sức cưới</a></li>
                        <li><a href="">Quà tặng</a> </li>
                        <li><a href="">Thương hiệu</a> </li>
                        <li><a href=""> Blog</a></li>
                        <li> <a href=""><span>Khuyến mãi</span></a></li>
                        <li>
                            <input type="text" placeholder="Tìm kiếm nhanh">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </li>

                    </ul>
                </div>



            </div>
        </div>

        <div id="slider">

            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/slider/slider_1.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/slider/slider_2.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/slider/slider_3.webp" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="advertisement">
            <div class="advertisement-sub ">

                <div class="advertisement-sub-img ">
                    <img src="img/hinhanhAdvertisement/1.jpg" alt="">
                </div>

                <div class="advertisement-sub-img ">
                    <img src="img/hinhanhAdvertisement/2.png" alt="">
                </div>

                <div class="advertisement-sub-img ">
                    <img src="img/hinhanhAdvertisement/3.png" alt="">
                </div>



            </div>


        </div>





        <div id="container">

            <div class="container">

                <div class="label">


                    <h2 style="text-align: center;">Thương hiệu nổi bật </h2>
                    <div id="carouselExampleFade" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/label/1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/label/2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="img/label/3.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

                <div class="container-product">
                    <!--Trang sức kim cương-->
                    <div class="container-product-sub">

                        <h4>Trang sức kim cương</h4>

                        <div class="product-content">
                            <div class="product-content-sub">

                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>


                        </div>
                        <div class="img-advertise">
                            <img src="img/andnguoidung/1.jpg" alt="">
                        </div>

                    </div>


                    <!--Trang sức ECZ-->
                    <div class="container-product-sub">

                        <h4>Trang sức EZC</h4>

                        <div class="product-content">
                            <div class="product-content-sub">

                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>


                        </div>
                        <div class="img-advertise">
                            <img src="img/andnguoidung/2.jpg" alt="">
                        </div>

                    </div>

                    <!--Trang sức ngọc trai-->
                    <div class="container-product-sub">

                        <h4>Trang sức ngọc trai</h4>

                        <div class="product-content">
                            <div class="product-content-sub">

                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>


                        </div>
                        <div class="img-advertise">
                            <img src="img/andnguoidung/3.jpg" alt="">
                        </div>

                    </div>
                    <!--Trang sức ý-->
                    <div class="container-product-sub">

                        <h4>Trang sức kim cương</h4>

                        <div class="product-content">
                            <div class="product-content-sub">

                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>


                        </div>
                        <div class="img-advertise">
                            <img src="img/andnguoidung/4.jpg" alt="">
                        </div>

                    </div>
<!--Dây chuyền-->
                    <div class="container-product-sub">

                        <h4>Trang sức kim cương</h4>

                        <div class="product-content">
                            <div class="product-content-sub">

                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>


                        </div>
                        <div class="img-advertise">
                            <img src="img/andnguoidung/5.jpg" alt="">
                        </div>

                    </div>

<!--Trang sức đá màu-->
                    <div class="container-product-sub">

                        <h4>Trang sức kim cương</h4>

                        <div class="product-content">
                            <div class="product-content-sub">

                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>
                            <div class="product-content-sub">
                                <img src="img/product/1.png" alt="">
                                <p>tên sản phẩm</p>
                                <p>Giá tiền</p>
                                <p>Số lượng đã bán</p>
                            </div>


                        </div>
                        <div class="img-advertise">
                            <img src="img/andnguoidung/6.jpg" alt="">
                        </div>

                    </div>


                  














                </div>













            </div>


        </div>


        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
              <div class="col mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                  <img src="img/Phát Lộc.png" alt="" height="100px">
                </a>
                <p class="text-body-secondary">© 2024</p>
              </div>
          
              <div class="col mb-3">
          
              </div>
          
              <div class="col mb-3">
                <h5>Về Phát lộc</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Câu chuyện Phát Lộc</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Tuyển dụng</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Kinh doanh sỉ</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Kiểm định kim cương</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">quà tặng danh nghiệp</a></li>
                </ul>
              </div>
          
              <div class="col mb-3">
                <h5>Dịch vụ khách hàng</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hướng dẫn đo sai trang sức</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mua hàng trả góp </a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hướng dẫn mua hàng và thanh toán</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Cẩm nang sử dụng trang sức</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Câu hỏi thường gặp</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"> Kết nối qua facebook</a><img src="icons/facebook.svg" alt="" height="20px"> </li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"> Kết nối qua instagram</a><img src="icons/instagram.svg" alt="" height="20px"> </li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"> Kết nối qua youtube </a><img src="icons/youtube.svg" alt="" height="20px"> </li>
                </ul>
              </div>
          
              <div class="col mb-3">
                <h5>Chính sách</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách hoàn tiền</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách giao hàng</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách bảo hành thu đổi</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách khách hàng thân thiết</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách bảo mật thông tin khách hàng</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách xử lý dữ liệu cá nhân</a></li>
                </ul>
              </div>

           
            </footer>
          </div>






    </div>


</body>

</html>