<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  Thư viện ngoài  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--  CSS của project  -->
    <link rel="stylesheet" href="./assets/fonts/fontawesome-free-6.6.0/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/breadcrumb.css">
    <link rel="stylesheet" href="./assets/css/product-category.css">

    <title>Danh sách sản phẩm</title>
</head>
<body>
<div class="app">
    <header class="header">

    </header>

    <div class="container">
        <div class="grid">
            <ol class="breadcrumb">
                <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Trang chủ</a></li>
                <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Nhẫn</a></li>
                <li class="breadcrumb__item breadcrumb__item-current">Nhẫn ECZ</li>
            </ol>

            <div class="product-category">
                <div class="product-category__thumbnail">
                    <img src="./assets/images/categories/category-1-thumbnail.jpg" alt="">
                </div>
                <div class="product-category__list">
                    <ul class="product-category__categories">
                        <li class="product-category__category">
                            <a href="" class="product-category__link">Trang Sức<br>Đính Kim Cương</a>
                        </li>
                        <li class="product-category__category">
                            <a href="" class="product-category__link">Trang Sức<br>Đính ECZ</a>
                        </li>
                        <li class="product-category__category">
                            <a href="" class="product-category__link">Trang Sức<br>Đính Đá Qúy Và Bán Đá Qúy</a>
                        </li>
                        <li class="product-category__category">
                            <a href="" class="product-category__link">Trang Sức<br>Công Nghệ Ý</a>
                        </li>
                        <li class="product-category__category">
                            <a href="" class="product-category__link">Trang Sức<br>Đính Ngọc Trai</a>
                        </li>
                        <li class="product-category__category">
                            <a href="" class="product-category__link">Trang Sức<br>Đính CZ</a>
                        </li>
                        <li class="product-category__category">
                            <a href="" class="product-category__link">Trang Sức<br>Không Đính Đá</a>
                        </li>
                        <li class="product-category__category">
                            <a href="" class="product-category__link">Nhẫn cặp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">

    </footer>
</div>
</body>
</html>