<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  Thư viện ngoài  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--  CSS của project  -->
    <link rel="stylesheet" href="./assets/fonts/fontawesome-free-6.6.0/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/breadcrumb.css">

    <title>Danh sách sản phẩm</title>
</head>
<body>
<div class="app">
    <header class="header">

    </header>

    <div class="container">
        <div class="grid">
            <ol class="breadcrumb">
                <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Trang chủ</a></li>
                <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Nhẫn</a></li>
                <li class="breadcrumb__item breadcrumb__item-current">Nhẫn ECZ</li>
            </ol>
        </div>
        <div class="product-category">
            <div class="product-category__thumbnail">
                <img src="" alt="">
            </div>
            <div class="product-category__list">

            </div>
        </div>
    </div>

    <footer class="footer">

    </footer>
</div>
</body>
</html>