.breadcrumb {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--grey-color);
}

.breadcrumb__item {
    position: relative;
}

.breadcrumb__item + .breadcrumb__item::before {
    content: "/";
    margin: 0 5px;
    padding: 0 5px;
    color: var(--grey-color);
}

.breadcrumb__link {
    text-decoration: none;
    color: var(--grey-color);
}

.breadcrumb__link:hover {
    color: var(--grey-color-hover);
}

.breadcrumb__item-current {
    font-weight: 400;
    color: var(--text-color);
}
