* {
    box-sizing: border-box;
}

main {
    font-family: 'Montserrat', serif; !important;
}

.blog-title {
    font-size: 42px;
    font-weight: bold;
    color: #000;
}

.blog-post h3,h4 {
    font-family: "Roboto", sans-serif; !important;
    font-weight: bold;
}

.blog-post h3 {
    font-size: 27px;
    line-height: 38px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.blog-post h4 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 27px;
    margin-bottom: 17px;
}

.blog-post p {
    font-size: 18px;
    font-weight: 300;
    line-height: 2rem;
    word-break: break-word;
    color: #282828;
    margin-bottom: 26px;
}

