.container{

}

.label{
    margin-top: 16px;
}

.container-product-sub{
    margin-top: 16px;

}


.container-product-sub > .product-content{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 

}
.img-advertise{
    text-align: center;
    margin-top: 16px;
}
h4{
    text-align: center;
}
.product-content-sub{
    border: 2px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, white, lightgray);
}

